/* DEFAULTS
------------------------------------------------------------------------------*/
body {
  font: normal normal 16px/1.5em Arial,Helvetica,sans-serif;
}

/* WRAPPER
------------------------------------------------------------------------------*/
div#wrapper {
  width: 1280px;
  margin: 0 auto;
}

/* RECORD SET CONTROLS
------------------------------------------------------------------------------*/
div#record-controls {
  padding: 20px;
  text-align: center;
}
div#record-controls button {
  width: 70px;
  height: 70px;
  margin: 0 20px;
  text-indent: -99999px;
  border: 1px solid #ddd;
  border-radius: 3px;
}
button#record-set { background: url(../images/record.png) no-repeat 0 center; }
button#record-set:hover { background: url(../images/record.png) no-repeat -70px center; }
button#record-set.recording { background: url(../images/record.png) no-repeat -140px center; }
button#play-set { background: url(../images/play.png) no-repeat 0 center; }
button#play-set:hover { background: url(../images/play.png) no-repeat -70px center; }
button#play-set.playing { background: url(../images/play.png) no-repeat -140px center; }

/* PLAYERS CONTAINER
------------------------------------------------------------------------------*/
div.player { float: left; position: relative; }

div.player {
  width: 45%;
  height: 700px;
  background: #c00;
}

div.volume, div.video { float: left; height: 295px; margin: 10px 0 0 10px; }
div.volume { background: #00c; font-size: 65%; }
div.video { width: 480px; background: #cc0; }

div.loop { width: 480px; font-size: 65%; background: #0cc; }

div.status { clear:left; padding: 10px 0 0 30px; }

div.player form {
  width: 480px;
  margin: 10px 0 10px 50px;
  display: block;
  clear: left; 
}
div.player form input {
  width: 460px;
  padding: 10px;
  border: 1px solid #000;
}

/* VIDEO CONTROLS
------------------------------------------------------------------------------*/
div.controls { padding: 10px 0; }
div.controls button { width: 100px; height: 70px; margin-right: 10px; }

/* SEARCH RESULTS
------------------------------------------------------------------------------*/
div.search-results { position: absolute; display: none; }
div.search-results ol li:hover {
  background: #ddd;
}

/* CROSSFADE
------------------------------------------------------------------------------*/
div#crossfade { float: left; }
div#crossfade {
  width: 10%;
  height: 500px;
  background: #0c0;
}
