<div id="record-controls">
  <div>
    <button id="record-set">Record Set</button>
    <button id="play-set">Play Set</button>
  </div>
</div>

<div class="player" id="player-left">

  <div class="volume"></div>
  
  <div class="video">
    <div id="video-div-1"></div>
  </div>
  
  <div class="status" data-player-id="1">
    <div class="progress">
      <span></span>
    </div>
    <div class="loop"></div>
    <span class="loop-left"></span>
    <span class="loop-right"></span>
    
    <div class="controls">
      <button class="play" data-playing="false">Play/Pause</button>
      <button class="mute" data-muted="false">Mute/Unmute</button>
      <button class="next">Next Song</button>
      <input type="checkbox" class="loop" id="loop-1" />
      <label for="loop-1">Loop</label>
    </div>
  </div>
  
  <ol class="queue">
  </ol>
  
  <form action="" method="get">
    <input type="text" name="q" />
  </form>
  
  <div class="search-results">
    <ol></ol>
  </div>
  
</div>

<!-- -->
<div id="crossfade">
  <div id="crossfade-control"></div>
</div>

<!-- -->
<div class="player" id="player-right">
  
  <div class="video">
    <div id="video-div-2"></div>
  </div>
  
  <div class="volume"></div>
  
  <div class="status" data-player-id="2">
    <div class="progress">
      <span></span>
    </div>
    <div class="loop"></div>
    <span class="loop-left"></span>
    <span class="loop-right"></span>
    
    <div class="controls">
      <button class="play" data-playing="false">Play/Pause</button>
      <button class="mute" data-muted="false">Mute/Unmute</button>
      <button class="next">Next Song</button>
      <input type="checkbox" class="loop" id="loop-2" />
      <label for="loop-2">Loop</label>
    </div>
  </div>
  
  <ol class="queue">
  </ol>
  
  <form action="" method="get">
    <input type="text" name="q" />
  </form>
  
  <div class="search-results">
    <ol></ol>
  </div>
  
</div>
