/* DEFAULTS
------------------------------------------------------------------------------*/
body {
  font: normal normal 16px/1.5em Arial,Helvetica,sans-serif;
  background: url(../images/body-bg.png);
}

/* WRAPPER
------------------------------------------------------------------------------*/
div#wrapper {
  width: 1280px;
  margin: 0 auto;
}

/* RECORD SET CONTROLS
------------------------------------------------------------------------------*/
div#record-controls {
  padding: 20px;
  text-align: center;
}
div#record-controls div {
  width: 145px;
  height: 70px;
  margin: 0 auto;
  padding: 5px;
  background: #000;
  border: 1px solid #373737;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 5px #444;
}

div#record-controls button {
  width: 70px;
  height: 70px;
  display: block;
  float: left;
  margin: 0 5px 0 0;
  border: 1px solid #222;
  border-radius: 3px;
  text-indent: -99999px;
}
div#record-controls button:last-child { margin: 0; }

button#record-set { background: #333 url(../images/record.png) no-repeat 0 center; }
button#record-set:hover { background: #333 url(../images/record.png) no-repeat -70px center; }
button#record-set.recording { background: #333 url(../images/record.png) no-repeat -140px center; }
button#play-set { background: #333 url(../images/play_pause.png) no-repeat -15px center; }
button#play-set:hover { background: #333 url(../images/play_pause.png) no-repeat -115px center; }
button#play-set.playing { background: #333 url(../images/play_pause.png) no-repeat -215px center; }

/* PLAYERS CONTAINER
------------------------------------------------------------------------------*/
div.player {
  position: relative;
  float: left;
  width: 40%;
  height: 700px;
}

div.ui-slider { border: 1px solid #333; }

div.volume, div.video { float: left; height: 295px; margin: 10px 0 0 10px; }
div.video { width: 480px; }
div.volume { font-size: 65%; }
div.volume a.ui-slider-handle{ margin-left: -4px; height: 0.5em; width: 2em;}

div#vLeft{ background-color: rgb(255,0,0); }

div.status { clear:left; padding: 0 10px 10px 30px; position: relative; }
div#player-right div.status { padding: 0 10px 10px 10px; }

div.player div.progress { width: 480px; height: 20px; background: #000; margin: 10px 0; }
div.player div.progress span { display: block; height: 100%; width: 0; background: #fff; }

div.progress p {
  display: block;
  width: 480px;
  height: 20px;
  position: absolute;
  z-index: 9999;
  top: 0;
  font-size: 0.7em;
  line-height: 22px;
  color: #999;
  text-align: center;
  /*text-shadow: 1px 1px 1px #333;*/
}

div.loop { width: 480px; font-size: 65%; }
div.ui-slider-range {
  background: #000;
  border: 1px solid #373737;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 5px #444;
}

div.loop a.ui-slider-handle{
	height: 51px; 
	width: 95px; 
	margin-left: -10px;
	border: none;
	background: transparent;
	outline: none;
	z-index: 10;
	margin-left: -50px;
	float: left;
}

span.loop-left a:first-child{
	background: red;
}

span.loop-left, span.loop-right {
  position: absolute;
  display: block;
  width: 55px;
  height: 51px;
  top: 45px;
  color: #fff;
  line-height: 75px;
  font-size: 0.7em;
  text-align: center;
  margin-top: -16px;
  z-index: 5;
}

span.loop-left {  margin-left: -2px;background: url(../images/label_left2.png) no-repeat; }
span.loop-right { margin-left: -4px;background: url(../images/label_right2.png) no-repeat; }

/* SEARCH
------------------------------------------------------------------------------*/
div.player form {
  width: 415px;
  margin: 0 0 10px 55px;
  display: block;
  clear: left;
}
div#player-right form { margin: 0 0 10px 36px; }
div.player form input {
  width: 100%;
  padding: 10px 0 10px 10px;
  border: 1px solid #ddd;
  font-size: 1.3em;
  font-style: bold;
  border-radius: 3px;
  background: #fff url(../images/search.png) no-repeat 97% center;
  -webkit-box-shadow: inset 1px 1px 5px #666;
}

/* VIDEO CONTROLS
------------------------------------------------------------------------------*/
span.clear { clear: left; }
div.controls {
  width: 416px;
  height: 70px;
  margin: 50px 0 0 25px;
  padding: 5px;
  background: #000;
  border: 1px solid #373737;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 5px #444;
}
div.controls button, div.controls label {
  display: block;
  float: left;
  width: 100px;
  height: 70px;
  margin-right: 5px;
  border: 1px solid #222;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 0 5px #555;
  text-indent: -99999px;
}
div.controls label { width: 99px; height: 69px; margin-right: 0; }

button.play { background: #333 url(../images/play_pause.png) no-repeat 0 center; }
button.play:hover { background: #333 url(../images/play_pause.png) no-repeat -100px center; }
button.play.playing { background: #333 url(../images/play_pause.png) no-repeat -200px center; }

button.mute { background: #333 url(../images/mute.png) no-repeat 0 center; }
button.mute:hover { background: #333 url(../images/mute.png) no-repeat -100px center; }
button.mute.muted { background: #333 url(../images/mute.png) no-repeat -200px center; }

button.next { background: #333 url(../images/next.png) no-repeat 0 center; }
button.next:hover { background: #333 url(../images/next.png) no-repeat -100px center; }
button.next:active { background: #333 url(../images/next.png) no-repeat -200px center; }

div.player input.loop { display: none; }
div.player label { background: #333 url(../images/loop.png) no-repeat 0 center; }
div.player label:hover { background: #333 url(../images/loop.png) no-repeat -100px center; }
div.player label.looping { background: #333 url(../images/loop.png) no-repeat -200px center; }

/* SEARCH RESULTS
------------------------------------------------------------------------------*/
div.search-results {
  margin-left: 40px;
  display: none;
}
div#player-right div.search-results { margin-left: 25px; }

div.search-results ol {
  width: 452px;
  padding: 3px 0 3px 3px;
  float: left;
  background: #000;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 10px #555;
}
div.search-results ol li {
  width: 130px;
  height: 150px;
  padding: 5px;
  display: block;
  float: left;
  border: 5px solid #000;
  background: #333;
  font-size: 0.7em;
  font-style: bolder;
  color: #fff;
  text-align: center;
  overflow: hidden;
  -webkit-transition: all 0.2s linear;
}
div.search-results ol li:hover {
  background: #ddd;
  cursor: pointer;
  color: #222;
}

/* PLAY QUEUE
------------------------------------------------------------------------------*/
ol.queue {
  width: 420px;
  margin: 10px 0 10px 55px;
  padding: 5px;
  background: #000;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 10px #555;
}
div#player-right ol.queue { margin-left: 35px; }

ol.queue li {
  position: relative;
  height: 40px;
  margin-bottom: 5px;
  padding: 0 10px;
  background: #333;
  border: 1px solid #222;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 0 5px #555;
  color: #fff;
  line-height: 40px;
  font-size: 0.9em;
}
ol.queue li:last-child { margin-bottom: 0; }
ol.queue li:hover { cursor: move; }
ol.queue li a {
  position: absolute;
  display: block;
  width: 30px;
  height: 30px;
  right: 12px;
  top: 4px;
  text-indent: -99999px;
  background: url(../images/close.png) no-repeat;
}


/* CROSSFADE
------------------------------------------------------------------------------*/
div#crossfade { float: left; }
div#crossfade {
  width: 17%;
  height: 500px;
  padding: 150px 1% 0 2%;
}
div#crossfade-control {
  width: 90%;
  margin: 0 auto;
  background: #000;
  border: 0;
  height: 10px;
  -webkit-box-shadow: 0 0 10px #555;
}
div#crossfade-control a {
  width: 30px;
  height: 30px;
  background: #333;
  border: 1px solid #222;
  top: -11px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 0 5px #555;
  margin-left: -19px;
}
div#crossfade-control a:hover, div#crossfade-control a.ui-state-active { -webkit-box-shadow: inset 0 0 10px #999; }

