<div class="player">
  <div class="volume"></div><!-- can't really use html5 range input, falling back to jQuery UI :( -->
  <div class="video"></div>
  <div class="controls">
    <div class="loop"></div><!-- can't really use html5 range input, falling back to jQuery UI :( -->
    <button class="play">Play/Pause</button>
    <button class="mute">Mute/Unmute</button>
    <button class="next">Next Song</button>
    <input type="checkbox" class="loop">
    <label>Loop</label>
  </div>
  <ol class="queue">
  </ol>
</div>
<div id="crossfade">
  <div id="crossfade-control"></div>
</div>
